<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="visitor-form">
    <fieldset><legend>방명록 등록</legend>
        <input type="text" value="" placeholder="사용자 이름" name="inputName" required><br>
        <input type="text" value="" placeholder="방명록" name="inputComment"><br>
        <button type="button" id="requestBtn" onclick="addBtn()">등록</button>

    </fieldset>
    </form>
    <br>
    <table border="1" cellspacing="0">
        <thead>
            <th>ID</th>
            <th>작성자</th>
            <th>방명록</th>
            <th>수정</th>
            <th>삭제</th>
        </thead>
        <tbody>
            <% for(let i=0; i<data.length; i++){ %>
                <tr id = "tr_<%= data[i].id %>">
                    <td name="id"><%= data[i].id %></td>
                    <td name="name"><%= data[i].name %></td>
                    <td name="comment"><%= data[i].comment %></td>
                    <td><button type="button" name="modify" onclick="modifyBtn('<%= data[i].id %>')">수정</button></td>
                    <td><button type="button" name="delete" onclick="delBtn('<%= data[i].id %>')" >삭제</button></td>
            <% } %>
                </tr>
        </tbody>
    </table>
    
    <script>

        const body = document.querySelector('tbody')
        function addBtn() {
            let form=document.forms['visitor-form']
            let name = form.inputName.value;
            let comment= form.inputComment.value;
            
            const data={
                name : name,
                comment : comment
            }
            console.log(data)
            axios({
                method :"POST",
                url : "/visitor/write",
                data,
            }).then((res)=>{
               console.log(res.data)
               const html=`<tr id = tr_${res.data.id}.id>
                    <td name="id">${res.data.id}</td>
                    <td name="name">${res.data.name}</td>
                    <td name="comment">${res.data.comment}</td>
                    <td><button type="button" name="modify" onclick="modifyBtn()">수정</button></td>
                    <td><button type="button" name="delete" onclick="delBtn()" >삭제</button></td>
                </tr>
                `
                //                       가장 끝
                body.insertAdjacentHTML("beforeend",html)
            })

        };

        function modifyBtn(id){

        };

        function delBtn(id){
            axios({
                method : "delete",
                url : `/visitor/delete/${id}`,
            }).then((res)=>{
                console.log(res)
            })
        };
    </script>
</body>
</html>