<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>

    <style>
        h2 {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h2>수강신청페이지    
        <div class="header"> 
            <label for="Timer">남은 시간:</label>
            <span id = "Timer" readonly></span>
            <button type="button" onclick="logOut()" >로그아웃</button>
        </div>
    </h2>

    <main>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>코드</th>
                    <th>강의명</th>
                    <th>시간</th>
                    <th>교수명</th>
                    <th>전공</th>
                    <th>등록</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i =0; i<data.length; i++){ %>
                <tr>
                    <th><%= data[i].code %></th>
                    <th><%= data[i].name %></th>
                    <th><%= data[i].time %></th>
                    <th><%= data[i].professor.name %></th>
                    <th><%= data[i].professor.major %></th>
                    <th><button type="button" onclick="register('<%= data[i].class_id %>')">등록</button></th>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>
    <script src="../static/javascript/timer.js"></script>
    <script>
        function register(id){
            const token = localStorage.getItem('token')
            console.log(token)
            axios({
                method : "POST",
                url:"/user/sugang_register",
                headers : {
                        Authorization : `Bearer ${localStorage.getItem('token')}`
                },
                data : {
                    
                }
            })
        }
    </script>
</body>
</html>